extends partials/templates/_template.pug

block content
  +b.SECTION.page.container
    +e.inner
      // Content
      +b.ARTICLE.content
        +e.H1.title Государственная комиссия по радиочастотам 
        +e.text
          p ГКРЧ (Государственная комиссия по радиочастотам) – это такой координационный межведомственный орган, который действует при Министерстве связи и Министерстве информационных технологий. Данный орган осуществляет регулирование использования в России радиочастотного спектра. 
          p ГКРЧ  обладает полномочиями по выделению радиочастот для: 
          ul
            li Разработки;
            li Использования;
            li Производства;
            li Модернизации;
            li Ввоза в Россию высокочастотных устройств и радиоэлектронных средств разного назначения;
            li Установления условий использования полос частот для применяемых в определённых технологиях радиоэлектронных средств.
          p В обязательном порядке все радиоэлектронные устройства, которые ввозятся в Россию и используются на территории государства, должны быть внесены в список разрешённых  для использования в России устройств, утверждённый ГКРЧ. 
          h2 Радиочастотное заключение 
          p Заключение Радиочастотного Центра представляет собой официальный документ, необходимый для предоставления при перевозке через таможенную границу товаров, причисляемых к радиоэлектронным средствам (телефоны сотовой связи, беспроводные модемы, игрушки с дистанционным управлением), в таможенные органы.
          p Заключение Радиочастотного Центра выдаётся на конкретного импортера (перевозчика), обязательно зарегистрированного в качестве индивидуального предпринимателя или юридического лица. Существуют некоторые дополнительные требования, без выполнения которых Заключение ГКРЧ не может быть выдано. Это, в первую очередь, возможность предоставления сведений о радиочастотных характеристиках товаров, наличие разрешения на законный ввоз продукции в Россию, а так же информация о спектральной плотности изделий, о классе их излучений, о степени возможных побочных излучений и о пиковой девиации частоты. Заключение Радиочастотного Центра обычно выдаётся сроком на один год.
          p Важно упомянуть о том, что оформляется Заключение Радиочастотного Центра в несколько этапов.  Они включают в себя сбор и предоставление определённого пакета документов, проверку соответствия продукции всем необходимым нормам и требованиям в аккредитованных лабораториях. Лишь после того, как будут осуществлены все тестирования и многочисленные проверки изделий, будет выдано Заключение ГКРЧ, позволяющее на территорию России ввозить радиоэлектронные средства.
        // Help banner
        +b.help-banner
          +e.text Вы можете заказать этот сертификат прямо на сайте
          +e.arrow 
          +b.A.btn--red(href="#") Заказать
      // Sidebar
      include partials/components/_sidebar.pug


  