extends partials/templates/_template.pug

block content
  +b.SECTION.page--news.container
    +e.inner
      // Content
      +b.SECTION.content
        +e.H1.title Новости
        include partials/components/_news.pug
        include partials/components/_help-banner.pug
      // Sidebar
      include partials/components/_sidebar.pug


  