extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-question.container
    +e.inner
      // Content
      +b.SECTION.content
        +b.ARTICLE.question
          +e.H1.title Сертификация строительных материалов  
          +e.date 30.08.2016
          +e.ask
            +e.person 
              +e.name Людмила Безштанько  
              | (Амурская область, 30 августа 2016)
            +e.text
              p Необходимо сертифицировать или декларировать строительные материалы (песок, щебень, мин. порошок и т.д). Процедура? Сроки? Стоимость?
          +e.answer
            +e.person Ксения, +7 (383) 310-20-45, info@rostestsibir.ru 
            +e.text
              p Добрый день, Людмила. 
              p Уточните пожалуйста, область применения данных материалов (дорожное строительство или прочие цели).
              p Вы являетесь производителем?
              p Спасибо, жду Ваш ответ.
        +e.A.link-back(href="page-questions.html") Назад
        include partials/components/_help-banner.pug
      // Sidebar
      include partials/components/_sidebar.pug






  