extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-news.container
    +e.inner
      // Content
      +b.SECTION.content
        +b.ARTICLE.news
          +e.H1.title Росстандарт объявил о проведении общественных обсуждений нескольких проектов основополагающих российских стандартов  
          +e.date 30.08.2016
          +e.text
            +e.img
              img(src= "img/news1.jpg", alt="news", title="news")
            p Росстандарт (Федеральное агентство по техрегулированию и метрологии) объявил о проведении общественных обсуждений нескольких проектов основополагающих российских стандартов. В первую очередь, речь идет о:
            ul
              li ГОСТ Р ОСН 1.2. – 2016 «Стандартизация в Российской Федерации. Стандарты национальные Российской Федерации. Правила разработки, утверждения, обновления, внесения поправок, приостановки действия и отмены».
              li ГОСТ Р ОСН 1.5 – 2016 «Стандартизация в Российской Федерации. Стандарты национальные Российской Федерации. Правила построения, изложения, оформления и обозначения».
              li ГОСТ Р ОСН 1.6 – 2016 «Стандартизация в Российской Федерации. Проекты стандартов. Правила организации и проведения экспертизы».</li><li>ГОСТ Р ОСН 1.8 – 2016 «Стандартизация в Российской Федерации. Стандарты межгосударственные. Правила проведения в Российской Федерации работ по разработке, применению, обновлению и прекращению применения».
              li ГОСТ Р ОСН 1.16 – 2016 «Стандартизация в Российской Федерации. Стандарты национальные предварительные. Правила разработки, утверждения, применения и отмены».
            p Все указанные национальные стандарты разработаны в связи с началом действия Федерального закона 162-ФЗ «О стандартизации в Российской Федерации». Общественное обсуждение проектов продлится до 8 октября текущего года.
        +e.A.link-back(href="page-news.html") Назад
        include partials/components/_help-banner.pug
      // Sidebar
      include partials/components/_sidebar.pug


  