.about-us{
  text-align: center;
  margin-top: 40px;

  &__title{
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-weight: $bold;
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: relative;
      top: 20px;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
    }
  }
}
