.about-us{
  text-align: center;
  margin-top: 40px;

  &__title{
    margin: 20px 0;
    text-transform: uppercase;
    color: $blue;
    font-family: $font-family-bold;
    font-size: $font-size-title;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: $font-size-subtitle;
    } 
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
      display: inline-block;
      @include mq($from:xs, $until:md) {
        padding: 0 20px;
      }
      @include mq($from:xs, $until:sm) {
        max-width: 250px;
      } 
    }
  }
}
