.after-footer{
  background-color: $blue;

  &__inner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
      padding: 10px 20px 0;
    }
  }
}
.copyright{
  color: $text-color-white;
  font-size: $font-size-smaller;
  padding: 10px 0;
  margin: 0 20px;
}

.counters{
  padding: 10px 0;
  margin: 0 20px;
}

