.after-footer{
  background-color: $blue;
  padding-bottom: 10px;
  &__inner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.copyright{
  color: $black-000;
  font-size: $font-size-smaller;
}



