.breadcrumbs{
  flex: 0 0 100%;
  margin: 0 70px 40px;
  @include mq($from:xs, $until:md){
    margin: 0 20px 20px;
  }

  a{
    margin-right: 10px;
  }
  a:not(:first-child){
    margin-left: 10px;
  }
  span{
    margin-left: 10px;
  }
}
