.btn{
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;  
  padding: 9px 25px;
  margin: 0;
  color: $text-color-white;
  border: 4px solid $white;
  outline: 1px solid transparent;
  text-transform: uppercase;
  background-color: $blue;
  @include transition();

  &:hover, &:focus, &:active{
    color: $text-color-white;
    outline: 1px solid $blue-border;
  }
  &:active{
    border: 4px solid $blue-border;
  }        

  &--red{
    background-color: $red;
    &:hover, &:focus, &:active{
      outline: 1px solid $crimson-border;
    } 
    &:active{
      border: 4px solid $crimson-border;
    }    
  }


  &--form{
    background-color: $red;
    &:hover, &:focus, &:active{
      outline: 1px solid $crimson-border;
    } 
    &:active{
      border: 4px solid $crimson-border;
    }    
  }
}
