.content{
  flex: 0 0 calc(100% - 320px);
  margin: 0 20px;
  // padding: 0 50px;
  @include mq($from:xs, $until:md){
    // padding: 0 20px;
    margin: 20px;
    flex: 0 0 calc(100% - 40px);
  }
  &--half{
    flex: 0 0 calc(50% - 40px);
    margin-bottom: 40px;
    padding: 0;
    @include mq($from:xs, $until:lg){
      margin-top: 20px;
      flex: 0 0 calc(100% - 40px);
    }
  }
  &--wide{
    flex: 0 0 calc(100% - 40px);
    margin: 0 20px;
    padding: 0 50px;
    @include mq($from:xs, $until:md){
      margin: 20px;
      padding: 0 20px;
    }
  }

  &__title{
    margin: 0 0 30px;
    font-size: $font-size-title;
  }

  h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
  }
}
