.footer{
  background-color: $blue;
  &__inner{
    padding: 15px 0 5px;
    display: flex;
    justify-content: space-between;
  }
  .nav{
    flex: 0 0 auto;
  }
  .logo{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .logo__img{
    max-width: 230px;
  }
  .menu{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .menu__list{
    display: block;
    margin-bottom: 0;
  }

  .city{
    flex: 0 0 25%;
    max-width: 25%;
  }
}




