.footer{
  background-color: $blue;
  &__inner{
    padding: 15px 50px 5px;
    display: flex;
    justify-content: space-between;
    @include mq($from:xs, $until:lg){
      padding: 15px 20px 5px;
    }
    @include mq($from:xs, $until:md){
      flex-wrap: wrap;
    }
  }
  .nav{
    flex: 0 0 auto;
  }
  .logo{
    flex: 0 0 25%;
    max-width: 25%;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 10px;
    }
  }
  .logo__img{
    max-width: 230px;
  }
  .menu{
    padding-left: 50px;
    flex: 0 0 25%;
    max-width: 25%;
    @include mq($from:xs, $until:md){
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      padding-left: 0;
    }
  }
  .menu__list{
    display: block;
    margin-bottom: 0;
  }

  .city{
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 0;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 20px;
      border-left: none;
    }
  }
}




