.form{
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  &__form{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
  }
  &__title{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 25px 20px;
    text-transform: uppercase;
    position: relative;
    font-weight: $semibold;
    font-size: $font-size-subtitle;
    color: $white;
  }
  &__input{
    padding: 8px 10px; 
    width: 100%;
    border: 1px solid $grey-border;
    &::-webkit-input-placeholder{
      color: $text-color;        
    }       
    &::placeholder{
      color: $text-color;         
    } 
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
    &--time{
      width: 100px;
      margin: 0 5px;
    }
  }
  &__textarea{
    padding: 8px 10px;    
    width: 100%;
    border: 1px solid $grey-border;
    height: 150px;
    &::-webkit-input-placeholder{
      color: $text-color;        
    }       
    &::placeholder{
      color: $text-color;         
    } 
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  &__region-list{
    padding: 5px 10px; 
    width: 100%;
    border: 1px solid $grey-border;
  }
  &__country-list{
    padding: 5px 10px; 
    width: 100%;
    border: 1px solid $grey-border;
  }
  .recaptcha{
    flex: 0 0 100%;
    @include mq($from:xs, $until:sm){
      transform: scale(0.65);
    } 
  } 
}

.form-group{
  flex: 0 0 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.captcha{
  background-color: $white;
  background-image: url(../img/captcha.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 304px;
  height: 78px;
  margin: 0 auto;
  text-align: center;  
}
