.has-success{
  input, textarea{
    // border: 1px solid $success;
    outline: 2px solid $success;
    // background-color: $success-bg;
    box-shadow: none;
  }
}
.has-error{
  input, textarea{
    // border: 1px solid $error;
    outline: 2px solid $error;
    // background-color: $error-bg;
    box-shadow: none;
  }
  .help-block-error{
    display: block;
  }
}
.help-block{
  display: none;
  margin: 10px 0;
}

.field-question-recaptcha .g-recaptcha > div { 
  margin: 0 auto;
}

.overlay {
  .help-block-success{
    display: block;
    background-color: $white;
    font-size: $font-size-subtitle;
    max-width: 250px;
    position: absolute;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
