.form{
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  &__form{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;   
  }
  &__title{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 25px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: $font-size-subtitle;
    color: $white;
    font-family: $font-family-bold;
    font-weight: normal;
  }
  &__input{
    padding: 8px 10px; 
    width: 100%;
    border: 1px solid $grey-border;
    margin-bottom: 15px;
    &::-webkit-input-placeholder{
      color: $text-color;        
    }       
    &::placeholder{
      color: $text-color;         
    } 
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }
  }
  &__textarea{
    vertical-align: top;
    padding: 8px 10px;    
    width: 100%;
    border: 1px solid $grey-border;
    height: 150px;
    margin-bottom: 15px;
    @include mq($from:xs, $until:sm){
      height: 100px;
    } 
    &::-webkit-input-placeholder{
      color: $text-color;        
    }       
    &::placeholder{
      color: $text-color;         
    } 
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  &__select{
    padding: 5px 10px; 
    width: 100%;
    border: 1px solid $grey-border;
    margin-bottom: 15px;
  }
}

.form-group{
  flex: 0 0 100%;
}

.captcha{
  background-color: $white;
  background-image: url(../img/captcha.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 304px;
  height: 78px;
  margin: 0 auto;
  text-align: center;  
}
