.header{
  background-color: $blue;

  &__inner{
    padding: 15px 50px 5px;
    display: flex;
    justify-content: space-between;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 0;
    }
  }
}

.logo{
  margin-top: 20px;
  text-align: left;
  @include mq($from:xs, $until:lg){
    flex: 0 0 100%;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  &__img{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    @include mq($from:xs, $until:lg){
      margin: 0 auto;
    }   
  }
}

.city{
  font-size: $font-size;
  text-align: left;
  padding-left: 30px;
  margin-left: 30px;
  border-left: 2px solid $blue-light-border;
  @include mq($from:sm, $until:lg){
    flex: 0 0 50%;
    text-align: center;
  }
  @include mq($from:xs, $until:sm){
    flex: 0 0 100%;
    text-align: center;
  }
  &__link{
    display: block;
    color: $white;
    margin-bottom: 5px;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 3px;
      margin-right: 5px;
      transform: translateX(-50%);  
    } 
    &--name{
      &:before{
        @include sprite($s-icon-point-map); 
      }      
    } 
    &--tel{
      &:before{
        @include sprite($s-icon-mob); 
      }      
    } 
    &--email{
      &:before{
        @include sprite($s-icon-mail-fly); 
      }      
    } 
    &:hover,  &:focus {
      color: $white;
      text-decoration: underline;
    }     
  }
}
