.help-banner{
  flex: 0 0 100%;
  max-width: 100%;
  margin: 40px 0;
  padding: 10px 20px;
  background-color: $body-bg;
  border: 3px solid $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq($from:xs, $until:sm) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  } 

  &__text{
    text-transform: uppercase;
    font-size: $font-size-bigger;
    font-family: $font-family-bold;
    color: $blue;
    @include mq($from:xs, $until:sm) {
      margin-bottom: 10px;
    }
  }
  &__arrow{
    @include sprite($s-arrow);
    @include mq($from:xs, $until:sm) {
      display: none;
    }
  }
}