.managers{
  flex: 0 0 50%;
  @include mq($from:xs, $until:lg){
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  &__title{
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    width: 100%;
    font-weight: $semibold;
    font-size: $font-size-subtitle;    
  }
  &__list{
    list-style-type: none;
    padding-left: 0;
    max-width: 170px;
    margin: 0 auto;
  }
  &__item{
    padding: 5px 0;    
  }
  &__link{

    &:before{
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
      @include sprite($s-skype); 
    }
  }
}
