.nav{
  @include mq($from:sm, $until:lg){
    flex: 0 0 50%;
  }
  @include mq($from:sm, $until:sm){
    flex: 0 0 100%;
  }
  .menu{
    @include mq($from:xs, $until:sm){
      display: none;
    }
  }
  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:sm){
      display: block;
    }

  }  
}

.hamburger{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: $white;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $white;
    }
    &:before{
      transform: translateY(-250%);
    }    
    &:after{
      transform: translateY(150%);
    }    
  }
}

.menu{
  &__list{
    margin: 0 0 15px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-end; 
    @include mq($from:xs, $until:sm){
      justify-content: center;
      flex-wrap: wrap;
    } 
  }
  &__item{
    margin-left: 20px;
    position: relative;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      text-align: center;
      margin: 0;
    } 
    &:before{
      content: none;
    }
  }
  &__link{
    color: $white;
    display: inline-block;
    @include mq($from:xs, $until:sm){
      margin-top: 5px;
      margin-bottom: 5px;
    } 
    &:hover,  &:focus {
      color: $white;
      text-decoration: underline;
      &:after{
        text-decoration: none;
      }
    }
    &--closed{
      position: relative;
      padding-right: 1em;
      &:after{
        content: "►";
        position: absolute;
        bottom: 2px;
        right: 0;
        color: $white;
        font-size: $font-size-small;
      }      
    }
    &--open{
      &:after{
        content: "▼";
      }
    }
  }
}
.menu-submenu{
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $body-bg;
  z-index: 3;
  width: 400px;
  padding: 5px 20px;
  border: 1px solid $grey-border;
  max-height: 600px;
  overflow-y: auto;
  @include mq($from:xs, $until:sm){
    position: static;
    transform: none;
    width: 100%;
    max-height: 300px;
  }

  &__item{
    margin: 5px 0;
  }
  &__link{
    &--closed{
      &:after{
        content: "►";
        color: $blue;
        font-size: $font-size-small;
        margin-left: 0.5em; 
      }
    }
    &--open{
      &:after{
        content: "▼";
      }
    }
  }  
}
.menu-sub-submenu{
  display: none;
  padding: 5px 20px;
  &__item{
    margin: 5px 0;
  }
}


.search{
  text-align: right;
  margin-bottom: 15px;
  @include mq($from:xs, $until:sm){
    margin: 5px 0;
  }
  &__form{
    display: flex;
    justify-content: flex-end;
    @include mq($from:xs, $until:sm){
      justify-content: center;
    }
  }
  &__input{
    height: 30px;
    font-size: $font-size-small;
    padding: 8px 10px;
    border: none;
    text-transform: uppercase;
    &::-webkit-input-placeholder{
      color: $text-color;         
    }       
    &::placeholder{
      color: $text-color;         
    }  
    &:hover, &:focus{
      outline: none;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }   
  }
  &__btn{
    width: 30px;
    height: 30px;
    position: relative;
    background-color: $grey-border;
    padding: 5px;
    border: none;
    &:after{
      content: "";
      @include sprite($s-icon-search);
      position: absolute;    
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}
