.news-section{
  text-align: center;
  margin-top: 40px;
  &__title{
    margin: 20px 0;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-weight: $bold;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: $font-size-subtitle;
    } 
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    a{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
      display: inline-block;
      @include mq($from:xs, $until:md) {
        padding: 0 20px;
      }
      @include mq($from:xs, $until:sm) {
        max-width: 250px;
      }
    }
  } 
  &__description{
    margin-top: 0;
  }
  &__gallery{
    padding-left: 0;
    margin: 40px 0 80px;
    position: relative;
  }
  &__slide{
    width: 20%;
    margin: 0 20px;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    background-color: $white;
    overflow: hidden;
    @include transition();
    img{
      border-radius: 15px;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    &:hover, &:focus {
      .news-section__link{
        opacity: 1;
        border: 1px solid $blue;
      }
    } 
  }
  &__link{
    position: absolute;
    border-radius: 20px;
    border: 1px solid transparent;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(66,122,193,.5);
    color: $white;
    text-transform: uppercase;
    &:hover,  &:focus {
      color: $white;
    } 
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-arrow{
    display: block;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none; 
    padding: 0;   
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    background-repeat: no-repeat;
  }
  .slick-prev{
    @include sprite($s-arrow-prev);
    @include transition();  
    transform: translate(-150%, 150%);
    &:hover, &:focus{
      transform: translate(-150%, 150%) scale(1.25);
    } 
  }
  .slick-next{
    @include sprite($s-arrow-next);
    @include transition();
    transform: translate(50%, 150%);
    &:hover, &:focus{
      transform: translate(50%, 150%) scale(1.25);
    } 
  }
}