.page{
  &__inner{
    display: flex;
    flex-wrap: nowrap;
    @include mq($from:xs, $until:md) {
      flex-wrap: wrap;
    }   
  }
}
.content{
  flex: 0 0 calc(75% - 10px);
  max-width: calc(75% - 10px);
  margin-right: 10px;
  @include mq($from:xs, $until:md) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &__title{
    margin: 30px 0;
    font-size: $font-size-title;
    text-transform: uppercase;
    color: $blue;
    border-bottom: 2px solid $blue;
  }
  h2, h3, h4, h5, h6{
    text-transform: uppercase;
    color: $blue;
    border-bottom: 2px solid $blue;    
  }
  h2{
    font-size: $font-size-subtitle;   
  }  
  h3{
    font-size: $font-size-big;  
  }
  h4, h5, h6{
    font-size: $font-size-bigger;   
  }

  .btn{
    padding: 9px 45px;
  }
  .form{
    
  }
  .form__title{
    display: none;
  }
}
.sidebar{
  flex: 0 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
  margin-left: 10px;  
  @include mq($from:xs, $until:md) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}