.pre-footer{
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;  

  &__title{
    flex: 0 0 100%;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-family: $font-family-bold;
    font-weight: normal;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: $font-size-subtitle;
    } 
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
      display: inline-block;
      @include mq($from:xs, $until:md) {
        padding: 0 20px;
      }
      @include mq($from:xs, $until:sm) {
        max-width: 250px;
      } 
    }
  }
}

.reviews-section{
  flex: 0 0 25%;
  max-width: 25%;
  @include mq($from:xs, $until:lg){
    flex: 0 0 100%;
    max-width: 100%;
  }
  &__title{
    text-transform: uppercase; 
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-border; 
    font-size: $font-size-bigger;
    font-family: $font-family-bold;  
    font-weight: normal;
    a{
      color: $crimson;
      text-decoration: underline;
      &:hover, &:focus {
        color: $crimson;
        text-decoration: none;
      }
    }
  }
  &__list{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  &__item{
    margin-bottom: 20px;
    position: relative;
    &:before{
      content: none;
    }
  }
  &__text{
    font-size: $font-size-smaller;
    margin-bottom: 10px;
  }
  &__link{
    color: $crimson;
    text-decoration: underline;
    font-size: $font-size-smaller;
    &:hover, &:focus {
      color: $crimson;
      text-decoration: none;
    }
  }
  &__date{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.specialists{
  flex: 0 0 calc(40% - 80px);
  max-width: calc(40% - 80px);
  margin-left: 40px;
  margin-right: 40px;
  @include mq($from:xs, $until:lg){
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    padding-right: 10px;
  }
  @include mq($from:xs, $until:md){
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  &__title{
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-border;
    color: $blue;
    font-size: $font-size-bigger; 
    font-family: $font-family-bold;
    font-weight: normal;
  }
}

.manager{
  display: flex;
  flex-wrap: wrap;
  @include mq($from:xs, $until:sm){
    justify-content: center;
  }
  &__img-wrapper{
    flex: 0 0 150px;
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }    
  }
  &__img{
    width: 150px;
    height: 150px;

    img{
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__info{
    margin-left: 20px;
    flex: 0 0 calc(100% - 170px);
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 100%;
    } 
  } 
  &__position{
    margin: 0;
  }
  &__name{
    text-transform: uppercase;
    margin: 10px 0;
    font-family: $font-family-bold;
    font-weight: normal;
  }
  &__link{
    display: block;
    margin-left: 30px;
    margin-bottom: 5px;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 3px;
      position: absolute;  
      bottom: 0;
      left: -20px;
      transform: translateX(-50%);  
    } 
    &--icq{
      &:before{
        @include sprite($s-social-icq); 
      }      
    } 
    &--skype{
      &:before{
        @include sprite($s-social-skype); 
      }      
    } 
    &--mail{
      &:before{
        @include sprite($s-social-mail); 
      }      
    } 
    &:hover,  &:focus {
      text-decoration: underline;
    } 
  }
  &__btn{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px 0;
    .btn{
      display: block;
    }    
  }
}

.contacts-section{
  flex: 0 0 35%;
  max-width: 35%;
  @include mq($from:xs, $until:lg){
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
  }
  @include mq($from:xs, $until:md){
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
  &__title-wrapper{
    position: relative;
  }
  &__title{
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-border;
    color: $blue;
    font-size: $font-size-bigger;
    font-family: $font-family-bold;
    font-weight: normal; 
  }
  &__link-all{
    position: absolute;
    bottom: 12px;
    right: 0;
    text-decoration: underline;
    font-size: $font-size-smaller;
    &:hover, &:focus {
      text-decoration: none;
    }
    @include mq($from:xs, $until:xl) {
      position: static;
      display: block;
      margin-bottom: 10px;
    }
  }
  &__info{
    columns: 2;
    margin-bottom: 10px;
  }
  &__link{
    display: block;
  }
  &__map{
    iframe{
      width: 100%;
      height: 200px;
      border: 1px solid $grey-border;
    }
  }
}