.reasons{
  text-align: center;
  margin-top: 40px;
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/reasons-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;

  &__title{
    flex: 0 0 100%;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-weight: $bold;
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: relative;
      top: 20px;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
    }
  } 
  &__bars{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    flex: 0 0 50%;
  }
  &__circle{
    flex: 0 0 50%;
  }
}

.progress{
  background-color: $ochra;
  position: relative;
  margin-left: 100px;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translate(-50%, -50%) scale(0.9);
  }
  &--01{
    &:before{
      @include sprite($s-reasons-bar1);
    }
    .progress__bar{
      background-image: url(../img/bar1.png);      
    }
  }
  &--02{
    &:before{
      @include sprite($s-reasons-bar2);
    }
    .progress__bar{
      background-image: url(../img/bar2.png);      
    }
  }
  &--03{
    &:before{
      @include sprite($s-reasons-bar3);
    }
    .progress__bar{
      background-image: url(../img/bar3.png);      
    }
  }
  &--04{
    &:before{
      @include sprite($s-reasons-bar4);
    }
    .progress__bar{
      background-image: url(../img/bar4.png);      
    }
  }
  &__title{
    position: absolute;
    top: 0;
    left: 10px;
    height: 50px;
    line-height: 50px;
    color: $white;
    font-family: $font-family-narrow;
    font-weight: $semibold;
    text-transform: uppercase;
  }
  &__bar{
    height: 50px;
    width: 0;
    background-repeat: repeat;
    margin: 30px 0;
  }
}

.circlechart{
  &__diagram{
    margin: 30px 0;
  }
  &__text{
    max-width: 300px;
    margin: 0 auto;
  }
}