.reasons{
  text-align: center;
  margin-top: 40px;
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/reasons-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;

  &__title{
    flex: 0 0 100%;
    margin: 20px 0;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-family: $font-family-bold;
    font-weight: normal;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: $font-size-subtitle;
    } 
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
      display: inline-block;
      @include mq($from:xs, $until:md) {
        padding: 0 20px;
      }
      @include mq($from:xs, $until:sm) {
        max-width: 250px;
      } 
    }
  } 
  &__bars{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    flex: 0 0 55%;
    max-width: 55%;
    @include mq($from:xs, $until:lg) {
      flex: 0 0 100%;
      max-width: 100%;
    } 
  }
  &__item{
    &:before{
      content: none;
    }
  }
  &__circle{
    flex: 0 0 45%;
    max-width: 45%;
    @include mq($from:xs, $until:lg) {
      flex: 0 0 100%;
      max-width: 100%;
    } 
  }
}

.progress{
  background-color: $ochra;
  position: relative;
  margin-left: 100px;
  @include mq($from:xs, $until:sm) {
    margin-top: 80px;
    margin-left: 60px;
  }

  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translate(-50%, -50%) scale(0.9);
    @include mq($from:xs, $until:sm) {
      left: -40px;
    }
  }
  &--01{
    &:before{
      @include sprite($s-reasons-bar1);
    }
    .progress__bar{
      background-image: url(../img/bar1.png);      
    }
  }
  &--02{
    &:before{
      @include sprite($s-reasons-bar2);
    }
    .progress__bar{
      background-image: url(../img/bar2.png);      
    }
  }
  &--03{
    &:before{
      @include sprite($s-reasons-bar3);
    }
    .progress__bar{
      background-image: url(../img/bar3.png);      
    }
  }
  &--04{
    &:before{
      @include sprite($s-reasons-bar4);
    }
    .progress__bar{
      background-image: url(../img/bar4.png);      
    }
  }
  &__title{
    position: absolute;
    top: 0;
    left: 10px;
    height: 50px;
    line-height: 50px;
    color: $white;
    font-family: $font-family-narrow;
    text-transform: uppercase;
    font-size: $font-size-big;
    @include mq($from:xs, $until:md) {
      font-size: $font-size;
    }
    @include mq($from:xs, $until:sm) {
      transform: translateY(-100%);
      line-height: normal;
      color: $text-color;
      text-align: left;
    }
  }
  &__bar{
    height: 50px;
    width: 0;
    background-repeat: repeat;
    margin: 30px 0;
  }
}

.circlechart{
  &__diagram{
    margin: 30px 0;
    canvas{
      border: 4px solid $grey-border;
      border-radius: 50%;
      padding: 10px
    }
    .dial{
      transform: translate(-14px, 14px);
    }
  }
  &__text{
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
  }
}