.selection{
  text-align: center;
  margin-top: 40px;
  &__title{
    flex: 0 0 100%;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-weight: $bold;
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: relative;
      top: 20px;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
    }
  }
  &__table{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  &__form{
    display: none;
  }
}
.step{
  flex: 0 0 calc(18% - 20px);
  margin: 0 10px;
  background-color: $body-bg;
  border: 2px solid $blue;
  &__title{
    padding-left: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-bigger;
  }
  &__nothing{
    // display: none;
    display: block;
    width: 100%;
    min-height: 300px;
    text-align: center;
    position: relative;
    span{
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      &:before{
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite($s-info);
      }
    }
  }
  &__list{
    // display: block;
    display: none;
    text-align: left;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    height: 300px;
    overflow-y: auto;
    &--total{
      height: auto;
      overflow-y: initial;
      display: none;      
    }
  }
  &__item{
    position: relative;
    margin-left: 20px;
    margin-right: 5px;
    padding-left: 5px;
    &:before{
      content: "";
      position: absolute;
      left: -0.6em;
      top: 0.55em;
      margin-right: 0.4em;
      width: 0.4em;
      height: 0.4em;
      border-radius: 50%;
      background-color: $red;
    }
    &:hover, &:focus, &:active{
      cursor: pointer;
      color: $text-color-white;
      background-color: $blue;
    }
    &--active{
      color: $text-color-white;
      background-color: $blue;      
    }
  }
  &--01{
    .step__list{
      display: block;
    }    
  }
  &--total{
    flex: 0 0 calc(28% - 20px);
    .step__title{
      color: $red;
    }
    .step__list{

    }
    .step__item{
      &:hover, &:focus, &:active{
        cursor: auto;
        color: $text-color;
        background-color: $body-bg;
      }      
    }
  }
}