.selection{
  text-align: center;
  margin-top: 40px;
  &__title{
    flex: 0 0 100%;
    margin: 20px 0;
    text-transform: uppercase;
    color: $blue;
    font-size: $font-size-title;
    font-family: $font-family-bold;
    position: relative;
    @include mq($from:xs, $until:md) {
      font-size: $font-size-subtitle;
    } 
    &:before{
      content: '';
      display: block;
      border-top: 1px solid $blue;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
    }
    span{
      padding: 0 50px;
      position: relative;
      background-color: $body-bg;
      z-index: 2;
      display: inline-block;
      @include mq($from:xs, $until:md) {
        padding: 0 20px;
      }
      @include mq($from:xs, $until:sm) {
        max-width: 250px;
      } 
    }
  }
  &__table{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &__steps-wrapper{
    flex: 0 0 78%;
    max-width: 78%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 20px;
    }
    @include mq($from:xs, $until:md) {
      padding: 0;
    } 
  }
  .help-banner{
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 20px 10px 0;
    @include mq($from:xs, $until:md) {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 20px;
    }  
  }
}
.step{
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin: 0 10px;
  background-color: $body-bg;
  border: 3px solid $blue;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // align-content: space-between;
  @include mq($from:xs, $until:xl) {
    font-size: $font-size-smaller ;
  }
  @include mq($from:xs, $until:md) {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 20px;
  } 
  &__title{
    flex: 0 0 100%;
    margin: 10px 0;
    padding: 0 10px;
    text-transform: uppercase;
    color: $blue;
    font-family: $font-family-narrow-bold;
    font-size: $font-size-big;
  }
  &__nothing{
    display: none;
    // display: block;
    width: 100%;
    flex: 0 0 100%;
    min-height: 300px;
    text-align: center;
    position: relative;
    @include mq($from:xs, $until:md) {
      min-height: 100px;
    }

    span{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      &:before{
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite($s-info);
      }
    }
  }
  &__list{
    display: block;
    // display: none;
    flex: 0 0 100%;
    text-align: left;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    height: 300px;
    overflow-y: auto;
    &--total{
      height: 300px;
      overflow-y: initial;
      // display: none;      
    }
  }
  &__item{
    margin-left: 20px;
    margin-right: 5px;
    padding-left: 5px;
    &:before{
      content: none;
    }

    &:hover, &:focus, &:active{
      cursor: pointer;
      color: $red;
      text-decoration: underline;
    }
    &--active{
      color: $red;
      text-decoration: underline;  
      &:before{
        content: '';
      } 
    }
  }
  &--01{
    .step__list{
      display: block;
    }    
  }
  &--total{
    flex: 0 0 calc(22% - 20px);
    max-width: calc(22% - 20px);
    @include mq($from:xs, $until:lg){
      flex: 0 0 calc(100% - 60px);
      max-width: calc(100% - 60px);
      margin: 20px 30px;
    }
    .step__title{
      color: $red;
    }
    .step__item{
      color: $text-color;
      background-color: $body-bg;
      &:hover, &:focus, &:active{
        cursor: auto;
        color: $text-color;
        background-color: $body-bg;
      }      
    }
    .step__nothing{
      min-height: 250px;
      @include mq($from:xs, $until:lg){
        min-height: 100px;
      }
    }
  }
  &__btn{
    margin-top: 20px;
    &:before{
      content: none;
    } 
  }
  .btn{
    white-space: normal;
    margin: 0 20px;
    text-align: center;
  }
  &__description{
    text-align: center;
    color: $blue;
    margin: 10px 0 15px;
  }
}

.jspArrow{
  position: relative;
  &:after{
    content: '';
    @include sprite($s-selection-arrow);
    position: absolute;
    top: 50%;
    left: 50%;
  } 
}
.jspArrowUp{
  &:after{
    transform: translate(-50%, -50%);
  }  
}
.jspArrowDown{
  &:after{
    transform: translate(-50%, -50%) rotate(180deg);
  }  
}