mixin questionItem(title, askPerson, askDetails, askText)
  +b.ARTICLE.question(itemscope, itemtype="http://schema.org/Article")
    +e.H2.subtitle
      a(href="single-question.html", itemprop="headline") #{title}   
    +e.ask(itemprop="articleSection", itemscope, itemtype="http://schema.org/Question")
      +e.person
        +e.name(itemprop="author") #{askPerson} 
        | #{askDetails} 
      +e.text(itemprop="citation") !{askText}
    +e.A.link(href="single-question.html") Читать ответ

