mixin reviewSlide(img, alt)
  +e.slide
    +e.img
      img(src= "img/thanksletters/" + img alt= alt title= alt)
      +e.A.link(href='#')
    +e.modal
      img(src= "img/thanksletters/" + img alt= alt title= alt)
    +e.text
      p «Благодарим за качественное выполнение работ по проведению сертификации нашей продукции, за добросовестное отношение и оперативность»

