//------------------------------------------------------------------------------
//  Basic styles - global scaffolding
//------------------------------------------------------------------------------
@include font-face("PT Sans", PTSansRegular, PTSansRegular);
@include font-face("PT Sans Narrow", PTSansNarrowRegular, PTSansNarrow);

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition();

  &:hover,
  &:focus {
    color: $link-color--hover;
    // text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.bolder{
  font-weight: 600;
}
.boldest{
  font-weight: 700;
}

li{
  list-style-type: none;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: -0.8em;
    top: 0.55em;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: $red;
  }
}

.container{
  @include mq($from:xs, $until:lg){
    padding: 0 20px;
  }
}