include ../abstracts/bemto/bemto.pug

+b.SECTION.about-us(itemscope, itemtype="http://schema.org/Product")
  +e.H1.title 
    span(itemprop="about") О компании
  +e.text(itemprop="description")
    p В центре сертификации Рос-Тест, квалифицированные специалисты готовы подобрать для Вас самые удобные и оптимальные варианты получения документов. Так же Вам будут предложены самые подходящие схемы сертификации. Наши опытные сотрудники предложат Вам минимальные сроки оформления разрешительных документов, учтут все нюансы оформления и всё это по приемлемой стоимости.
    p Если Вы хотите избежать длительных и сложных моментов сертификационного процесса, то доверьте ответственную и сложную процедуру сертификации центру Рос-Тест.



