include ../abstracts/bemto/bemto.pug

// Content
+b.SECTION.content
  +e.H1.title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  p
    a(href="#", title="title")
      strong
        em Sed erat risus, imperdiet at semper at, ultricies auctor diam. 
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat risus, imperdiet at semper at, ultricies auctor diam. Pellentesque pulvinar felis in egestas malesuada. Ut dictum dui vitae arcu tristique vehicula. Phasellus sit amet augue urna. Proin egestas scelerisque quam, ac malesuada velit laoreet quis. Mauris vel risus a lacus interdum tempus. Nam maximus nibh ultrices mauris lacinia, sit amet placerat diam consequat. Nullam mi lorem, efficitur ut eleifend eget, aliquam sit amet elit. Donec gravida tortor ut nibh egestas venenatis. Pellentesque vestibulum leo sed nisi euismod ultricies. Vivamus aliquam blandit turpis. Cras in lacus viverra, ornare nisi at, dictum orci. Vestibulum nec tellus elementum, maximus massa quis, tempus dolor. Sed semper dui nec eleifend cursus.
  p
    strong Aenean sagittis enim a purus feugiat malesuada.
  ul
    li Donec feugiat sodales nulla, at hendrerit nulla feugiat eu. 
    li Mauris eget varius nunc. 
    li  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    li Sed a est in tellus interdum mollis.
  p
    strong Duis ut magna venenatis, luctus sem non, rhoncus nisi.
  ul
    li Fusce lacinia vel nunc ut pretium.
    li Etiam fermentum dolor turpis, non euismod mi commodo non.
  p
    a(href="#", style="float:left;margin:5px 10px 5px 0")
      img(src="img/thumbnail.jpg", alt="thumbnail", title="", width="500")
  p Nunc efficitur convallis libero. &laquo;
    a(href="#", title="title")
      em Donec sollicitudin eget nulla ut pellentesque.
    | &raquo;.
  p Mauris suscipit risus odio, ut consectetur enim bibendum et. Pellentesque in laoreet mi, quis tristique arcu. Phasellus luctus ligula ut sollicitudin ullamcorper.
  p Vivamus venenatis sagittis enim non auctor. Vivamus et tellus condimentum, scelerisque est pretium, convallis purus. Fusce leo tellus, dictum non semper in, aliquet sagittis justo.
  p Donec blandit metus eu ornare facilisis. Etiam vestibulum tristique ante nec pellentesque. Aliquam finibus felis nunc, eget congue ligula egestas eget. Sed ultricies mauris nec lorem ornare vehicula. Proin congue dictum ornare. Aenean lacinia posuere volutpat. Nunc interdum enim non velit rhoncus, at iaculis metus vestibulum.
  h2
    strong Vestibulum feugiat metus a dapibus ultricies.
  p Integer fermentum eu eros ut tincidunt. Fusce commodo molestie arcu at convallis. In libero est, consectetur vitae dui ut, sagittis elementum velit.
  p Proin volutpat felis vitae est aliquet, quis hendrerit elit scelerisque. Aliquam erat volutpat. Integer vel ex justo. Morbi hendrerit blandit urna, vitae pellentesque neque porta nec. Maecenas semper nisi ut neque vestibulum pharetra. Sed neque metus, faucibus eu maximus ac, convallis nec lectus. Nunc mauris elit, dictum eget blandit nec, imperdiet sit amet leo.
  p(style="text-align:right")
    a(href="#", title="Скачать Бланк Заявки на Товарный знак")
      strong
        em Morbi nibh purus, blandit nec mollis ac, imperdiet sit amet neque.



