include ../abstracts/bemto/bemto.pug

+b.SECTION.managers
  +e.H2.title Наши специалисты:  
  +e.UL.list
    +e.item
      +e.A.link(href= "skype:skype01") Ольга Селегень
    +e.item
      +e.A.link(href= "skype:skype02") Евгения Костылева
    +e.item
      +e.A.link(href= "skype:skype03") Анна Васильева
    +e.item
      +e.A.link(href= "skype:skype04") Динара Синятулина

