include ../abstracts/bemto/bemto.pug

+b.SECTION.news-section
  +e.H2.title 
    a(href="#") Новости
  +e.P.description Все, что произошло в мире сертификации: актуальные вопросы и факты
  +e.UL.gallery
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html") 
        span Появляется заголовок новости
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html")
        span Появляется заголовок новости
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html")
        span Появляется заголовок новости
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html")
        span Появляется заголовок новости
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html")
        span Появляется заголовок новости
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html")
        span Появляется заголовок новости
    +e.slide
      img(src= "img/news1.jpg" alt="news1" title="news1")
      +e.link(href="single-news.html")
        span Появляется заголовок новости

