include ../abstracts/bemto/bemto.pug

+b.SECTION.offers(itemscope, itemtype="http://schema.org/Offer") 
  +e.H2.title 
    span Наши предложения
  +e.UL.list
    +e.item
      +e.text 
        span.wider(itemprop="itemOffered") Оформляем все виды документов
      +e.icon
      +b.A.btn(href="#", data-form="application") Подать заявку
    +e.item
      +e.text 
        span(itemprop="itemOffered") Бесплатные консультации
      +e.icon
      +b.A.btn(href="#", data-form="question") Спросить он-лайн               
    +e.item
      +e.text 
        span(itemprop="itemOffered") Штрихкод на продукцию
      +e.icon
      +b.A.btn(href="#", data-form="application", data-type="Штрихкод на продукцию") Заказать штрихкод
    +e.item
      +e.text 
        span(itemprop="itemOffered") Сертификат ISO
      +e.icon
      +b.A.btn(href="#", data-form="application", data-type="Сертификат ISO") Заказать ISO


