include ../abstracts/mixins/_question-item.pug
include ../abstracts/bemto/bemto.pug

// Questions
+e.SECTION.questions
  +questionItem("Декларация соответствия", "Александра", "(Москва и Московская область, 1 сентября 2016)", "<p>Добрый день.</p><p>Подскажите, пожалуйста, может ли при оформление ДС ТР ТС продукции (масло) заявителем и изготовителем быть разные организации, зарегистрированные на территории РФ?</p><p>Масло изготовила российская организация, но заявителем на получение ДС хочет выступать другая российская организация.</p><p>ДС нужна на серию товара.</p><p>А если, например, изготовитель будет российский, а заявитель белорусский, то тогда возможно? И почему?</p>")
  +questionItem("Сертификат на оборудование", "Людмила", "(Ханты-Мансийский автономный округ, 27 августа 2016)", "<p>Сертификаты на оборудование закончили срок действия. Каковы мои дальнейшие действия? нужно ли их продлевать?</p>")
  +questionItem("Сертификат на кедровые орехи и масло", "Анастасия", "(Кемеровская область, 15 августа 2016)", "<p>Здравствуйте. Подскажите пожалуйста как получить экологический сертификат на экспорт кедрового ореха и кедрового масла? Какие документы для этого нужны и сколько стоит? Спасибо!</p>")
  +b.SECTION.pagination
    span Страницы:
    +e.A.number--current(href="page-form-question.html") 1
    +e.A.number(href="page-form-question.html") 2
    +e.A.number(href="page-form-question.html") 3



