include ../abstracts/bemto/bemto.pug

+b.SECTION.reasons.onScreen
  +e.H2.title 
    span Почему центр Рос-тест? 
  +e.UL.bars
    +e.item
      +b.progress--01
        +e.title Более 12 лет работы на рынке
        +e.bar
    +e.item
      +b.progress--02
        +e.title Опыт сотрудников компании более 5 лет
        +e.bar
    +e.item
      +b.progress--03
        +e.title Более 12 лет работы на рынке
        +e.bar
    +e.item
      +b.progress--04
        +e.title Опыт сотрудников компании более 5 лет
        +e.bar
  +e.circle
    +b.circlechart
      +e.diagram
        input(type="text", value="0", class="dial", data-width="200", data-readOnly="true", data-bgColor="#898989", data-fgColor="#80C4E1", data-max="100000", data-displayPrevious="true")
      +e.text Столько документов мы уже оформили! Каждый день наши специалисты помогают в получении 15 сертификатов


