include ../abstracts/bemto/bemto.pug


+b.ARTICLE.review
  +e.H2.title Оформление СГР в "Рос-Тест"
  +e.P.person Компания:
    span ООО Фолиант (экспорт/импорт пищевых добавок)
  +e.P.text Комментарий:
    span Периодически, расширяя ассортимент, сталкиваемся с необходимостью оформления СГР на импортные пищевые добавки. В "Рос-Тест" нас неизменно предварительно подробно консультируют при каждом обращении; сроки исполнения зачастую опережают ожидания. В интервалах между нашими заказами - постоянная информационная поддержка по возникающим техническим вопросам. СПАСИБО!
+b.ARTICLE.review
  +e.H2.title Работали с "Рос-Тест" несколько раз
  +e.P.person Компания:
    span Механика СПб
  +e.P.text Комментарий:
    span Работали с "Рос-Тест" несколько раз: по разработке ТУ на производство продукции и 2 раза по сертификации продукции на соответствие Техническому регламенту о безопасности колесных транспортных средств. Каждый раз работы выполнялись точно и в срок. Приятно, что в "Рос-Тест" существует индивидуальный подход к заказчику, мы всегда получали необходимые консультации и разъяснения по всем возникшим вопросам. Отдельно хочется отметить работу специалиста по сертификации Бочаровой Анны - исключительно грамотного профессионала и приятного в общении человека. Благодарим Вас за работу и надеемся на дальнейшее сотрудничество! С уважением, Евгений, Санкт-Петербург.
+b.ARTICLE.review
  +e.H2.title Благодарственное письмо
  +e.P.person Компания:
    span Марка Одежды
  +e.P.text Комментарий:
    span Выражаю благодарность за отличную работу менеджеру центра по сертификации «Рост-Тест» Черемискиной Ирине. Очень грамотный специалист, который работает в сфере сертификации много лет, знает тонкости и нюансы. Все необходимые документы были оформлены раньше обозначенного срока, что не могло не порадовать. К оформленным документам не возникает никаких вопросов в процессе работы. При необходимости обращусь только к Ирине.


