include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_review-slide.pug

+b.SECTION.reviews
  +e.H2.title 
    a(href="page-reviews.html") Отзывы
  +e.gallery
    +reviewSlide("1.jpg","Отзыв 1")
    +reviewSlide("2.jpg","Отзыв 2")
    +reviewSlide("3.jpg","Отзыв 3")
    +reviewSlide("4.jpg","Отзыв 4")


