include ../abstracts/bemto/bemto.pug

+b.SECTION.selection(itemscope, itemtype="http://schema.org/Service")
  +e.H2.title 
    span(itemprop="offers") Подбор документов онлайн
  +e.table
    +e.steps-wrapper 
      // Step 1
      +b.step--01
        +e.H3.title 1.Выберите раздел
        +e.UL.list
          +e.item--active Изделия хозяйствено-бытового назначения, одежда, продукция для детей, игрушки
          +e.item Пищевая промышленность
          +e.item Оборудование промышленное
          +e.item Бытовая техника, осветительное и измерительное оборудование
          +e.item Автомобильные дороги и транспортные средства
          +e.item Продукция резинотехнической промышленности
          +e.item Смазочные материалы и масла
          +e.item Средства индивидуальной защиты
          +e.item Медицинские изделия и оборудование
          +e.item Строительные материалы
          +e.item Мебель
          +e.item Косметика и бытовая химия
          +e.item Спортивное оборудование
          +e.item Продукция полиграфической промышленности
          +e.item Растения, животные (в т.ч. корма)
      // Step 2
      +b.step--02
        +e.H3.title 2.Выберите отрасль
        +e.nothing 
          span Выберите пункт из предыдущего списка
        +e.UL.list
          +e.item--active Продукция легкой промышленности
          +e.item Игрушки для детей
          +e.item Детская одежда и украшения для детей
          +e.item Санитарно-гигиенические принадлежности для детей
          +e.item Упаковочная продукция
          +e.item Продукция хозяйственно-бытового назначения
          +e.item Средства санитарно-гигиенические
          +e.item Сувенирная продукция
          +e.item Аксессуары для мобильных телефонов
          +e.item Бижутерия для взрослых (расчески, украшения для волос и т.д.)
      // Step 3
      +b.step--03
        +e.H3.title 3.Ваш товар
        +e.nothing 
          span Выберите пункт из предыдущего списка
        +e.UL.list
          +e.item--active Ткани
          +e.item Одежда
          +e.item Обувь
          +e.item Постельное белье
          +e.item Сумки
          +e.item Ковры
          +e.item Шторы
          +e.item Спальные мешки
          +e.item Изделия кожгалантерейные
          +e.item Другие изделия
      // Step 4
      +b.step--04
        +e.H3.title 4.Документы для:
        +e.nothing 
          span Выберите пункт из предыдущего списка
        +e.UL.list
          +e.item--active Я - изготовитель
          +e.item Я - импортер
          +e.item Я - экспортер
          +e.item Я - продавец
      // Help banner
      +b.help-banner
        +e.text Мне нужна помощь специалиста
        +e.arrow 
        +b.A.btn--red.--selection(href="#", data-form="question") Написать свой вопрос
    // Step 5
    +b.step--total
      +e.H3.title Документы для оформления
      +e.nothing 
        span Выберите пункт из предыдущего списка
      +e.UL.list--total
        +e.item Технические условия (или ГОСТ при наличии)
        +e.item Сертификат(-ы) соответствия ТР ТС 017 о безопасности продукции легкой промышленности
        +e.item Декларация(-ии) о соответствии ТР ТС 017 о безопаности продукции легкой промышленности
        +e.item Сертификат(-ы) соответствия продукции (добровольные)
        +e.item Сертификат ИСО предприятия (добровольный документ)
        +e.item Отказное письмо, если на продукцию не требуются обязательные сертификаты и декларации
      +e.btn
        +b.A.btn--selection.--narrow(href="#", data-form="application-advanced") Рассчитать стоимость документов
        +e.description (услуга предоставляется бесплатно)