include ../abstracts/bemto/bemto.pug

+b.SECTION.selection
  +e.H2.title 
    span Подбор документов он-лайн
  +e.table
    // Step 1
    +b.step--01
      +e.H3.title 1.Выберите раздел
      +e.UL.list--department
        +e.item(data-step="domestic") Изделия хозяйствено-бытового назначения, одежда, продукция для детей, игрушки
        +e.item(data-step="food") Пищевая промышленность
        +e.item(data-step="industrial") Оборудование промышленное
        +e.item(data-step="equipment") Бытовая техника, осветительное и измерительное оборудование
        +e.item(data-step="transport") Автомобильные дороги и транспортные средства
        +e.item(data-step="rubber") Продукция резинотехнической промышленности
        +e.item(data-step="oil") Смазочные материалы и масла
        +e.item(data-step="protection") Средства индивидуальной защиты
        +e.item(data-step="meds") Медицинские изделия и оборудование
        +e.item(data-step="building") Строительные материалы
        +e.item(data-step="furniture") Мебель
        +e.item(data-step="cosmetics") Косметика и бытовая химия
        +e.item(data-step="sport") Спортивное оборудование
        +e.item(data-step="polygraphy") Продукция полиграфической промышленности
        +e.item(data-step="plants") Растения, животные (в т.ч. корма)
    // Step 2
    +b.step--02
      +e.H3.title 2.Выберите отрасль
      +e.nothing 
        span Выберите пункт из предыдущего списка
      +e.UL.list--domestic
        +e.item(data-step="light-industry") Продукция легкой промышленности
        +e.item(data-step="kids-toys") Игрушки для детей
        +e.item(data-step="kids-clothing") Детская одежда и украшения для детей
        +e.item(data-step="kids-hygiene") Санитарно-гигиенические принадлежности для детей
        +e.item(data-step="package") Упаковочная продукция
        +e.item(data-step="household") Продукция хозяйственно-бытового назначения
        +e.item(data-step="hygiene") Средства санитарно-гигиенические
        +e.item(data-step="souvenir") Сувенирная продукция
        +e.item(data-step="accessories") Аксессуары для мобильных телефонов
        +e.item(data-step="bijouterie") Бижутерия для взрослых (расчески, украшения для волос и т.д.)
      +e.UL.list--food
        +e.item(data-step="fish") Продукция рыбной промышленности
        +e.item(data-step="meat") Продукция мясной промышленности
        +e.item(data-step="milk") Продукция молочной промышленности
        +e.item(data-step="juice") Продукция соковая
        +e.item(data-step="seed") Продукция зерновой промышленности
        +e.item(data-step="bird") Продукция из мяса птицы
        +e.item(data-step="oil") Продукция масложировой промышленности
        +e.item(data-step="sportfood") Специальное питание для спорстменов, диетическое питание
        +e.item(data-step="bad") БАДы
        +e.item(data-step="kids") Питание для детей
        +e.item(data-step="food-other") Продукция пищевой промышленности (не указанная в списке)
    // Step 3
    +b.step--03
      +e.H3.title 3.Ваш товар
      +e.nothing 
        span Выберите пункт из предыдущего списка
      +e.UL.list--light-industry
        +e.item(data-step="textile") Ткани
        +e.item(data-step="clothing") Одежда
        +e.item(data-step="shoes") Обувь
        +e.item(data-step="bed-clothing") Постельное белье
        +e.item(data-step="bags") Сумки
        +e.item(data-step="carpets") Ковры
        +e.item(data-step="curtains") Шторы
        +e.item(data-step="sleeping-bags") Спальные мешки
        +e.item(data-step="leather") Изделия кожгалантерейные
        +e.item(data-step="other") Другие изделия
      +e.UL.list--kids-toys
        +e.item(data-step="plasticine") Пасты для лепки, пластилин
        +e.item(data-step="three-wheels-bikes") Трехколесные велосипеды
        +e.item(data-step="kids-clothing") Самокаты
        +e.item(data-step="dolls") Куклы
        +e.item(data-step="trains") Поезда
        +e.item(data-step="constructors") Наборы конструкторские
        +e.item(data-step="mindgames") Головоломки
        +e.item(data-step="balls") Мячи
        +e.item(data-step="soft-toys") Мягкие игрушки 
        +e.item(data-step="electronic-games") Электронные игры
        +e.item(data-step="kids-pools") Бассейны для детей
        +e.item(data-step="other") Другие игрушки
    // Step 4
    +b.step--04
      +e.H3.title 4.Документы для:
      +e.nothing 
        span Выберите пункт из предыдущего списка
      +e.UL.list--person
        +e.item(data-person="maker") Я - изготовитель
        +e.item(data-person="importer") Я - импортер
        +e.item(data-person="exporter") Я - экспортер
        +e.item(data-person="seller") Я - продавец
    // Form
    +e.FORM.form(action='', method='', id="selection-form")
      +e.INPUT.input(type='hidden', name='Вид продукции', id="product-type")
      +e.INPUT.input(type='hidden', name='Статус клиента', id="customer-status")
      +e.INPUT.input(type='submit')
    // Step 5
    +b.step--total
      +e.H3.title Документы для оформления
      +e.nothing 
        span Выберите пункт из предыдущего списка
      +e.UL.list--total
        +e.item(data-total="tu") Технические условия (или ГОСТ при наличии)
        +e.item(data-total="cert-safety") Сертификат(-ы) соответствия ТР ТС 017 о безопасности продукции легкой промышленности
        +e.item(data-total="decl-safety") Декларация(-ии) о соответствии ТР ТС 017 о безопаности продукции легкой промышленности
        +e.item(data-total="cert-relevance") Сертификат(-ы) соответствия продукции (добровольные)
        +e.item(data-total="cert-iso") Сертификат ИСО предприятия (добровольный документ)
        +e.item(data-total="refusal") Отказное письмо, если на продукцию не требуются обязательные сертификаты и декларации




















