include ../abstracts/bemto/bemto.pug

+b.SECTION.share
  +e.inner  
    +e.A.link(href="#")
    +e.A.link(href="#")
    +e.A.link(href="#")
    +e.A.link(href="#")
    +e.A.link(href="#")

                


